body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://i.imgur.com/4bmcoH1.png");
}

h1 {
  
}

.AllBoroughs {
  color: black;
  background-color: white;
}
a {
  margin: 20px;
}

button {
  background-color: red;
}

.bottom {
  background-color: black;
  margin: 50px;
  padding: 2px 2px;
  color: rgb(176, 6, 176);
  border-radius: 50%;
}

.logos{
  color: black;
  font-size: 30px;
}

h1 {
  background-color: black;
}

.carousel {
  margin: 70px;
  position: relative;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  width: 70%;
  height: 60%;
  border-radius: 10px;
  border: 10px solid orange;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.carouselItems {
  opacity: 0;
  transition-duration: 1s ease;
}

.carouselItems.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

